.test {

    &__container {
        display: grid;
        height: 100%;
        grid-template-columns: auto 50px 100px;
        grid-template-rows: 10% auto 10%;
        grid-template-areas:
            "header header header"
            "main main sidebar"
            "footer footer footer";

        @media only screen and (max-width: 600px) {
            grid-template-areas:
                "main header"
                "main sidebar"
                "footer footer";
            grid-template-columns: auto 100px;
            grid-template-rows: 100px auto 10%;
        }

        @media only screen and (max-width: 400px) {
            grid-template-areas:
                "main main"
                "sidebar sidebar"
                "header footer";
            grid-template-columns: 100px auto;
            grid-template-rows: auto 10% 10%;
        }
    }

    &__itemA {
        grid-area: header;
        background: red;
    }
    &__itemB {
        grid-area: main;
        background: green;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__itemC {
        grid-area: sidebar;
        background: orange;
    }
    &__itemD {
        grid-area: footer;
        background: yellow;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
    }

    &__spinner {
        @imagePath: '../../images/spinner.gif';
        min-height: image-height(@imagePath);
        min-width: image-width(@imagePath);
        background: transparent url(@imagePath) center center no-repeat;
    }

    &__time {
        color: #fff;
        font-size: 3vw;
    }

    &__version {
        color: red;
        font-size: 20px;
    }
}
